@import '../../styles/global.scss';
.container {
   
    .desktop {
        display: block;
        display: flex;
        gap: 45px;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;
        width: 100%;

        @include mobile {
            display: none;
        }
    }
    .Slider {
        display: none;
        @include mobile {
            display: block;
        }
    }
    
}
.headline {
    margin-top: 10px;
    text-align: center;
    color: white;
    font-size: 52px;
    font-weight: 900;
    text-transform: uppercase;
    @include mobile {
        font-size: 24px;
        margin-top: 37px;
    }
}